# RewriteEngine on
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule . /

RewriteEngine On
RewriteBase /

# Serve files from the dist folder
RewriteRule ^dist/(.*)$ dist/$1 [L]

# Redirect all requests to index.html in the dist folder
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /dist/index.html [L]
