html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(7,7,7);
  margin: 0;
  color: #fff;
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content {
  box-sizing: border-box;
  min-height: 100vh;
}

a:link,
a:visited {
  color: #6666bb;
  font-weight: 600;
  text-decoration: none;
}

li {
  text-indent: 1rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  margin-bottom: 0.75rem;
}

summary {
  margin-bottom: 0.5rem;
}

section {
  margin-bottom: 1.5rem;
}

details {
  margin-bottom: 1rem;
}
